select, button.reset  {
    border: 3px solid white;
    width: 250px;
    height: 50px;
    margin: 10px; 
    font-size: 30px;
    border-radius: 5px;
    background-color: bisque;
    text-transform: capitalize;
}

h1 {
    margin-top: 5px;
    text-transform: capitalize;
}

p {
    margin-top: 5px;
    font-size: 60px;
    & img {
        width: 225px;
        height: 225px;
    }
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid white;

    button {
        font-size: 40px;
        cursor: pointer;
        width: 75px;
        max-width:75px;
        height: 75px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &.picked {
            background-color: lightgoldenrodyellow;
        }    
        &.right {
            font-weight: bolder;
            color: green;
            border-color: green
        }
        &.wrong {
            font-weight: bolder;
            color: red;
            border-color: red
        }
        &.hint {
            background-color: lightsteelblue;
            font-weight: bolder;
            color: orange;
        }
        &.game-over {
            background-color: lightseagreen;
            font-weight: bolder;
            color: blue;
        }
    }
}