select, button.reset  {
    border: 3px solid white;
    width: 250px;
    height: 50px;
    margin: 10px; 
    font-size: 30px;
    border-radius: 5px;
    background-color: bisque;
    text-transform: capitalize;
}

h4 {
    margin-top: 5px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border: 2px solid white
}

.numbers button {
    font-size: 30px;
    cursor: pointer;
    width: 75px;
    height: 75px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    &.picked {
        background-color: lightgoldenrodyellow;
    }    
    &.right {
        font-size: 45px;
        color: green;
        border-color: green
    }
    &.wrong {
        font-size: 45px;
        color: red;
        border-color: red
    }
    &.hint {
        background-color: lightsteelblue;
        font-size: 45px;
        color: orange;
    }
    &.game-over {
        background-color: lightseagreen;
        font-size: 45px;
        color: blue;
    }
}